.app {
  height: 100vh;
  padding: 0 1em;
}

/* @media screen and (max-width: 576px) {
  .output,
  .options,
  .code {
   height: 50vh;
    min-height: 20em;
    height: calc((100vh - 68px) /3);
  }
} 
*/

@media screen and (min-width: 577px) {
  .app {
    min-height: 500x;
    /* display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 1fr 1fr 2rem;
    grid-gap: 1rem; */
  }

  /* .app-header {
    grid-column: 1/3;
  }

  .content {
    grid-row: 2/4;
    grid-column: 2/3;
  }

  .app-footer {
    grid-column: 1/3;
  } */
}

.bg-checked {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVQ4T2O8e/fufwY8QElJCZ80A+OoAcMiDP7//483Hdy7dw9/Ohg1gIFx6IcBAMRTVKEc4ZZPAAAAAElFTkSuQmCC") left center;
}
